@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

/* Animation @keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS Below */
* {
  box-sizing: border-box;
}

/* Very, very Top */
#main-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: fixed;
  background-color: green;
  /* Flexes above */
  width: 100%;
  height: 1%;
  top: 0px;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: maroon;
  color: white;
  min-height: 100vh;
  padding-top: 2px;
}

#pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flexes */
}

/* Far left Navigation Bar */
#main-header #title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: fixed;
  background-color: transparent;
  /* Flexes above */
  animation: fadeIn 3s ease-in-out;
  padding-top: 1px;
}

#main-header #title > * {
  margin: 10px;
}

#main-header #title img {
  background: maroon;
  width: 4rem;
  height: 1rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc407;
  width: 33px;
  height: 33px;
}

#main-header button {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

#button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flex Above */
  border: none;
  cursor: pointer;
  width: 74px;
  padding-left: 0px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc407;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#pokemons {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.pokemon-card {
  background-image: url("./assets/pokeBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: red;
  padding: 2px;
  margin: 1px;
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  /* Animation */
  animation-name: fadeIn;
  animation-duration: 4s;
  width: 92%;
  height: 100%;
}

.pokemon-image {
  width: 208px;
  height: 208px;
  padding: 11px;
  margin: 1px;
}

.pokemon-card-parts {
  border: 1px solid rgba(244, 89, 89, 1);
  background-color: rgba(244, 89, 89, 1);
  color: black;
  padding: 29px;
  margin: 11px;
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
}

.pokemon-card ul {
  list-style-type: none;
  padding-left: 0;
}
