/* Imports */

@font-face {
  font-family: "Honk Regular";
  src: url("./assets/Honk-Regular.ttf");
}

* {
  box-sizing: border-box;
}

h {
  color: #ffc407;
  padding-left: 20px;
  padding-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: maroon;
  min-height: 100vh;
  padding-top: 11%;
}

/* Very, very Top */
#main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  /* Flexes above */
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 11%;
  top: 0px;
}

/* Far left Navigation Bar */
#title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  position: fixed;
  background-color: transparent;
  padding-top: 1px;
}

/* Icons in the NAV BAR */
#title img {
  margin: 10px;
  background: maroon;
  width: 4rem;
  height: 1rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc407;
  width: 6%;
  height: 6%;
}

#title img {
  margin: 10px;
  background: maroon;
  width: 4rem;
  height: 1rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc407;
  width: 6%;
  height: 6%;
}

#pokemons {
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/pokeBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  align-items: center;
  text-align: center;
  background-color: red;
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  width: 92%;
  height: 100%;
}

.pokemon-image {
  width: 208px;
  height: 208px;
  padding: 11px;
  margin: 1px;
}

.pokemon-card-parts {
  border: 1px solid rgba(244, 89, 89, 1);
  background-color: rgba(244, 89, 89, 1);
  color: black;
  padding: 29px;
  margin: 11px;
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
}

.pokemon-card ul {
  list-style-type: none;
  padding-left: 0;
}

/* Stats/Component Header */
/* Ex: 'Fastest' or 'All Pokemon' */
#component-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: fixed;
  /* Flexes above */
  width: 100%;
  height: 15%;
  font-family: "Honk Regular", sans-serif;
  font-size: 208%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: maroon;
  color: yellow;
}

/* Header for 'Loading' screen */
#loading-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: fixed;
  /* Flexes above */
  font-family: "Honk Regular", sans-serif;
  font-size: 208%;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#log-in {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  /* position: fixed; */
  /* Flexes above */
  font-family: "Honk Regular", sans-serif;
  font-size: 208%;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.control,
fieldset {
  margin-bottom: 1rem;
  padding-left: 20px;
}

.titles {
  margin-bottom: 1rem;
  padding-left: 20px;
  font-style: italic;
  color: #ffc407;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

.control input,
.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
}

.control:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
}

.control:has(input[type="checkbox"]) label {
  margin: 0;
}

.control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #d9e2f1;
}

.control-error {
  color: #ffca99;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #ffc407;
  color: black;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ffc407;
}

.button-flat {
  background-color: transparent;
  color: #9cbaba;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #869999;
}
